---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2>Rishabh's blog</h2>
			<i>To preface this big, I have little-to-no professional experience with machine learning, so take
			this article's with the smallest grain of salt. I have some background with college, internships,
			and casual reading through out the years, I still have a basic understanding, at best -- though,
			that won't stop me from writing this article. I thought this blog would be a good mental exercise,
			as I don't get a chance to explore random ideas I have since graduating. I simply want to spitball and theorycraft
			through fun ideas, many of which may already exist -- or could be riddled errors</i>

		</main>
		<Footer />
	</body
</html>
